*{
margin:0;
padding:0;
box-sizing:border-box;
-webkit-box-sizing:border-box;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size:16px;
font-weight:300;
letter-spacing:0.1rem;

}
body{
    background-color:aliceblue;
    width:100%;

}

ul,li{

    list-style-type:none;
    display:block;
}

h1, h2, h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight:500;

}
a{
    text-decoration:none;
}
ul li a{
    display:block;
    margin-bottom:30px;
    color:aliceblue;
    transition:300ms all;
}
    ul li a:hover {

        transform:translateX(30px);
    }
    input [type="checkbox"]{
    width:80px;
    height:80px;
    position:fixed;
    left:100px;
    top:100px;
    cursor:pointer;
    opacity:0;
    z-index:10000;
    
    

}
    html{

        scroll-behavior:smooth;
    }
span.icon {
    width: 80px;
    height: 80px;
    position: fixed;
    left: 100px;
    top: 100px;
    cursor: pointer;
    opacity: 0;
    z-index: 10001;
     background-color:black;
     border-radius:50%;
     pointer-events:none;

}
span.icon::before{
    display:block;
    content:"menu";
    color:azure;
    text-align:center;
    line-height:80px;
    text-transform:uppercase;



}
input[type="checkbox"]:checked ~ span.icon::before{

   left:0;


}
input[type="checkbox"]:checked ~ ul{
    content: "close";
}
ul{

    background-color:darkblue;
    width:300px;
    height:100vh;
    display:flex;
    justify-content:center;
    flex-direction:column;
    padding-left:50px;
    position:fixed;
    left:0;
    top:0;

}
section{
    background-color:darkgoldenrod;
    height:100vh;
    text-align:center;
    color:aquamarine;
    line-height:100vh;
    font-size:36px;
    text-transform:uppercase;

}
     section#home{
       background-color:mediumvioletred;

}
    section#devoloper {
        background-color:blueviolet;
    }
    section#graph {
        background-color:darkolivegreen;
    }
    section#contact {
        background-color:palevioletred;
    }